<h1 class="m-4">Register</h1>
<form class="form-signin text-center p-3" #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
  <div class="mt-4 mb-3">
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input 
        type="email" 
        id="inputEmail"
        class="form-control" 
        placeholder="Email Address"
        name="email"
        ngModel
        required
        autofocus>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password:</label>
      <input 
        type="password" 
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        name="passowrd"
        ngModel
        required>
        <label class="error mt-3 text-danger" *ngIf="errorMessage">{{ errorMessage }}</label>
      </div>
      <!-- <p>{{ registerForm.value | json }}</p> -->
    <button type="submit" class="btn btn-primary btn-block btn-lg mb-3">Register</button>
  </div>
</form>